body {
	background-color: #ffd699;
}
#header-nav {
	background-color: #c2c2d6;
	border-radius: 0;
	border: 0;
}
.navbar-brand {
	font-family: 'Dancing Script';
	color: #00cc00;
	text-shadow: 0px 0px 1px #222;
	font-size: 1.5em;
}
.navbar-nav {
	margin-top: 10px;
}
.navbar-nav a {
  	text-align: center;
  	font-family: 'Dancing Script';
}
.navbar-nav a:hover {
	border: 1px solid green;
}
.nav-item {
	font-size: 1.5em;
}
button.navbar-toggler {
	clear: both;
  	margin-top: 1px;
}
button.navbar-toggler:focus {
	border-color: green;
	box-shadow: none;
}

* {
	box-sizing: border-box;
}

.title {
	font-size: 65px;
	color: #404040;
	text-align: center;
	font-family: "Times New Roman", Times, sans-serif;
	text-decoration: none;
}
.title:hover {
	text-decoration: none;
	color:  black;
}


.row{
	width: 100%;
}
.col {
	border: 1px solid green;
}


.title1 {
	font-family: 'Dancing Script';
	font-size: 30px;
	color: green;
}


.marg {
	margin: 10px;
	padding: 15px;
}

.top {
	color: black;
	text-decoration: none;
}